@mixin borderRadius($val) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  border-radius: $val;
}

$stepper-height: 40px;
$stepper-value-width: 40px;
$stepper-button-width: 40px;
$stepper-button-height: 20px;
$stepper-button-font-size: 20px;
$stepper-border-width: 1px;
$stepper-button-bg: #428bca;
$stepper-button-border: #357ebd;
$stepper-value-bg: #eee;

div[numeric-stepper] {
  &.ng-invalid-out-of-bounds {
    span {
      color: red;
    }
  }
  border: 1px solid #bbb;
  box-sizing: border-box;
  display: inline-block;
  height: $stepper-height + ($stepper-border-width * 2);
  width: 82px;

  div {
    float: left;
    height: 40px;
    width: $stepper-button-width;

    button {
      @include borderRadius(2px);
      &[disabled] {
        opacity: 0.3;
      }
      appearance: none;
      -webkit-appearance: none;
      background: $stepper-button-bg;
      border: 1px solid $stepper-button-border;
      box-sizing: border-box;
      color: white;
      float: left;
      font-size: $stepper-button-font-size;
      font-weight: bold;
      height: $stepper-button-height;
      line-height: 10px;
      margin: 0;
      padding-bottom: $stepper-button-font-size / 5;
      outline: none;
      width: $stepper-button-width;

      &:active {
        box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25);
        background: darken($stepper-button-bg, 5%);
      }
    }
  }
  span{
    float: left;
    vertical-align: top;
    width: $stepper-value-width;
    background: $stepper-value-bg;
    text-align: center;
    display: inline-block;
    height: $stepper-height;
    line-height: $stepper-height;
    box-sizing: border-box;

  }
}
